MultiFit: "aTauMorphingComb_SRCR_signalstrength"
  Label: "Combined fit"
  CmeLabel: "5.02 TeV"
  LumiLabel: "1.44 nb^{-1}"
  Combine: TRUE
  Compare: TRUE
  POIName: ditau_NF
  ComparePOI: TRUE
  ComparePulls: TRUE
  CompareLimits: FALSE
  POIRange: 0.3:1.5
  DebugLevel: 1
  POITitle: "#mu_{#tau#tau}"
  POIPrecision: 2
  POILabel: "#mu_{#tau#tau}"
  POINominal: 1.0
  NumCPU: 1
  PlotCombCorrMatrix: TRUE
%  ShowTotalOnly: TRUE
  BinnedLikelihoodOptimization: TRUE
  IncludeStatOnly: TRUE
%  doLHscan: ditau_NF
  LHscanMin: 0.5
  LHscanMax: 1.5
%  AtlasLabel: "Preliminary" 


Fit: "mu1trk"
  ConfigFile: g2taufit/atau_trexfitter/configs_mu/aTauMorphing_mu1trk_SRCR_signalstrength.config
  Label: "#mu1T-SR"

Fit: "emu"
  ConfigFile: g2taufit/atau_trexfitter/configs_mu/aTauMorphing_emu_SRCR_signalstrength.config
  Label: "#mue-SR"

Fit: "mu3trk"
  ConfigFile: g2taufit/atau_trexfitter/configs_mu/aTauMorphing_mu3trk_SRCR_signalstrength.config
  Label: "#mu3T-SR"
