Job: "aTauMorphing_mu3trk_SRCR_signalstrength"
  Label: "Fit 1M3TSR+2MCR"
  CmeLabel: "5 TeV"
  ImageFormat: pdf
  LumiLabel: "1.44 nb^{-1}"
  ReadFrom: HIST
  POI: ditau_NF
  HistoPath: "g2taufit/atau_trexfitter/inputs/morph_merged_v7"
  DebugLevel: 1
  SystControlPlots: TRUE
  MCstatThreshold: 0.03
%  StatOnly: TRUE
  RatioYmax: 1.2
  RatioYmin: 0.8
  RankingMaxNP: 30
  CorrelationThreshold: 0.2
  SmoothingOption: COMMONTOOLSMOOTHMONOTONIC
  DoSummaryPlot: TRUE
  DoPieChartPlot: TRUE
  SystDataPlots: TRUE
  GetChi2: TRUE
  PlotOptions: CHI2
  RankingPOIName: "#mu_{#tau#tau}"
  POIPrecision: 4
%  SystPruningShape: 0.0001
%  SystPruningNorm: 0.001




Fit: "FitaTauMorphing_mu3trk"
  FitType: SPLUSB
  FitRegion: CRSR
  NumCPU: 1
  POIAsimov: 1.0
  UseMinos: all
  doLHscan: ditau_NF
  SaturatedModel: TRUE
  GetGoodnessOfFit: TRUE
  TemplateInterpolationOption: LINEAR
  BinnedLikelihoodOptimization: TRUE
%  FitToys: 100

  
  
Limit: "limit"
  LimitType: ASYMPTOTIC
  POI: "ditau_NF"
  ParamValue: 0.0
  



Region: "SR_mu3trk"
  Label: "1M3T SR"
  Type: SIGNAL
  HistoName: "1m3t_SR"
  VariableTitle: "muon p_{T} [GeV]"
  RatioYmax: 1.5
  RatioYmin: 0.5
  Rebinning: 4,5,6,8,15,30

Region: "CR_2mu"
  Label: "2M CR"
  Type: CONTROL
  HistoName: "2m_CR"
  VariableTitle: "muon p_{T} [GeV]"
  Rebinning: 4,5,6,8,15,30



Sample: "PseudoData"
  Type: data
  Title: "data"
  HistoFile: "data"


Sample: "mumu"
  Type: BACKGROUND
  Title: "#mu#mu"
  FillColor: 64
  LineColor: 64
  SeparateGammas: TRUE
  HistoFile: "mumu"



Sample: "photonuclear"
  Type: BACKGROUND
  Title: "photonuclear"
  FillColor: 800
  LineColor: 800
  SeparateGammas: TRUE
  HistoFile: "photonuclear"
  Regions: SR_mu3trk



Sample: "Signal_p000"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  NormFactor: "ditau_NF",1,0,10
  Regions: SR_mu3trk


  

  
  
  
% --------------- %
% - SYSTEMATICS - %
% --------------- %

Systematic: "ATLAS_lumi"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp: 0.019
  OverallDown: -0.019
  Samples: mumu, Signal_p000
  Category: Experimental

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "tauDecay"
  Title: "tau decay modeling"
  Type: HISTO
  Samples: Signal_p000, mumu
  HistoNameSufDown: "_TAUOLA"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory
  SubCategory: "tau-Decay"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "reweight0n0n"
  Title: "0n0n reweighting"
  Type: HISTO
  Samples: Signal_p000, mumu
  HistoNameSufDown: "_WEIGHT_0N0N"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory
  SubCategory: "0n0n-reweighting"


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "HLTMU4_SYS"
  Title: "muon HLT trigger (sys)"
  Type: HISTO
  Samples: Signal_p000, mumu
  HistoNameSufUp: "_HLTMU4_SYS__1up"
  HistoNameSufDown: "_HLTMU4_SYS__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "HLTMU4_STAT"
  Title: "muon HLT trigger (stat)"
  Type: HISTO
  Samples: Signal_p000, mumu
  HistoNameSufUp: "_HLTMU4_STAT__1up"
  HistoNameSufDown: "_HLTMU4_STAT__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "L1MU4_SYS"
  Title: "muon L1 trigger (sys)"
  Type: HISTO
  Samples: Signal_p000, mumu
  HistoNameSufUp: "_L1MU4_SYS__1up"
  HistoNameSufDown: "_L1MU4_SYS__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "L1MU4_STAT"
  Title: "muon L1 trigger (stat)"
  Type: HISTO
  Samples: Signal_p000, mumu
  HistoNameSufUp: "_L1MU4_STAT__1up"
  HistoNameSufDown: "_L1MU4_STAT__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "PH_EFF"
  Title: "photon efficiency"
  Type: HISTO
  Samples: Signal_p000, mumu
  HistoNameSufUp: "_PH_EFF__1up"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "egamma"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "TC_EFF"
  Title: "topocluster efficiency"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_TC_EFF__1up"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "topocluster"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "TC_CALIB"
  Title: "topocluster energy calibration"
  Type: HISTO
  Samples: Signal_p000, mumu
  HistoNameSufUp: "_TC_CALIB__1up"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "topocluster"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "EL_EFF_SYS"
  Title: "electron efficiency (sys)"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_EL_EFF_SYS__1up"
  HistoNameSufDown: "_EL_EFF_SYS__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "egamma"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "EL_EFF_STAT"
  Title: "electron efficiency (stat)"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_EL_EFF_STAT__1up"
  HistoNameSufDown: "_EL_EFF_STAT__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "egamma"
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_EFF_SYS"
  Title: "muon efficiency (sys)"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_MUON_EFF_SYS__1up"
  HistoNameSufDown: "_MUON_EFF_SYS__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_EFF_STAT"
  Title: "muon efficiency (stat)"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_MUON_EFF_STAT__1up"
  HistoNameSufDown: "_MUON_EFF_STAT__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "TRK_EFF_QGSP_BIC"
  Title: "tracking eff. (QGSP_BIC G4 model)"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_TRK_EFF_QGSP_BIC"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "tracking"
  
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "TRK_EFF_IBLmat"
  Title: "tracking eff. (IBL material)"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_TRK_EFF_IBLmat"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "tracking"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "TRK_EFF_PP0mat"
  Title: "tracking eff. (PP0 material)"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_TRK_EFF_PP0mat"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "tracking"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "TRK_EFF_OverallIDmat"
  Title: "tracking eff. (overall ID material)"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_TRK_EFF_OverallIDmat"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "tracking"
  
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "EG_SCALE"
  Title: "egamma SCALE"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_EG_SCALE__1up"
  HistoNameSufDown: "_EG_SCALE__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "egamma"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "EG_RES"
  Title: "egamma RES"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_EG_RES__1up"
  HistoNameSufDown: "_EG_RES__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "egamma"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_SCALE"
  Title: "muon SCALE"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_muon_SCALE__1up"
  HistoNameSufDown: "_muon_SCALE__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_SAGITTA_RHO"
  Title: "muon SAGITTA RHO"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_muon_SAGITTA_RHO__1up"
  HistoNameSufDown: "_muon_SAGITTA_RHO__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_SAGITTA_RESBIAS"
  Title: "muon SAGITTA RESBIAS"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_muon_SAGITTA_RESBIAS__1up"
  HistoNameSufDown: "_muon_SAGITTA_RESBIAS__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_RES_MS"
  Title: "muon res MS"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_muon_MS__1up"
  HistoNameSufDown: "_muon_MS__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_RES_ID"
  Title: "muon res ID"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufUp: "_muon_ID__1up"
  HistoNameSufDown: "_muon_ID__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "photonFlux"
  Title: "photon flux uncertainty"
  Type: HISTO
  Samples: Signal_p000,mumu
  HistoNameSufDown: "_photonFluxVar"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory
  SubCategory: "photon-flux"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "photonuc1m3t_CR_stat"
  Title: "photonuc. 1m3t CR stat unc."
  Type: HISTO
  Samples: photonuclear
  HistoNameSufUp: "_Photonuclear1m3t_CR_stat__1up"
  HistoNameSufDown: "_Photonuclear1m3t_CR_stat__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Modeling
  SubCategory: "photonuc-model"

Systematic: "photonuc1m3t_CR_ss"
  Title: "photonuc 1m3t template var."
  Type: HISTO
  Samples: photonuclear
  HistoNameSufUp: "_Photonuclear1m3t_CR_SSvar"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Modeling
  SubCategory: "photonuc-model"
