MultiFit: "aTauMorphingComb_SRCRInverted"
  Label: "Combined fit"
  CmeLabel: "5 TeV"
  LumiLabel: "1.44 nb^{-1}"
  Combine: TRUE
  Compare: TRUE
  POIName: "aTau"
  ComparePOI: TRUE
  ComparePulls: TRUE
  CompareLimits: FALSE
  POIRange: -0.1:0.1
  DebugLevel: 1
  POITitle: "best-fit a_{tau} (expected)"
  POIPrecision: 4
  POILabel: "a_{tau}"
  POINominal: 0.0
  NumCPU: 1
  PlotCombCorrMatrix: TRUE
%  ShowTotalOnly: TRUE
  BinnedLikelihoodOptimization: TRUE
  IncludeStatOnly: TRUE
  doLHscan: aTau
  LHscanMin: -0.06
  LHscanMax: 0.06


Fit: "mu1trk"
  ConfigFile: g2taufit/atau_trexfitter/configs/aTauMorphing_mu1trk_SRCRInverted.config
  Label: "1M1T"

Fit: "emu"
  ConfigFile: g2taufit/atau_trexfitter/configs/aTauMorphing_emu_SRCRInverted.config
  Label: "1M1E"

Fit: "mu3trk"
  ConfigFile: g2taufit/atau_trexfitter/configs/aTauMorphing_mu3trk_SRCRInverted.config
  Label: "1M3T"
