Job: "aTauMorphing_mu1trk_SRCR"
  Label: "Fit 1M1TSR+2MCR"
  CmeLabel: "5 TeV"
  ImageFormat: pdf
  LumiLabel: "1.44 nb^{-1}"
  ReadFrom: HIST
  POI: aTau
  HistoPath: "g2taufit/atau_trexfitter/inputs/morph_merged_v7"
  DebugLevel: 1
  SystControlPlots: TRUE
  MCstatThreshold: 0.03
%  StatOnly: TRUE
  RatioYmax: 1.2
  RatioYmin: 0.8
  RankingMaxNP: 20
  CorrelationThreshold: 0.2
  SmoothingOption: COMMONTOOLSMOOTHMONOTONIC
  DoSummaryPlot: TRUE
  DoPieChartPlot: TRUE
  SystDataPlots: TRUE
  GetChi2: TRUE
  PlotOptions: CHI2
  RankingPOIName: "a_{tau}"
  POIPrecision: 4
%  SystPruningShape: 0.001
%  SystPruningNorm: 0.005




Fit: "FitaTauMorphing_mu1trk"
  FitType: SPLUSB
  FitRegion: CRSR
  NumCPU: 1
  POIAsimov: 0.0
  UseMinos: aTau
  doLHscan: aTau
  SaturatedModel: TRUE
  GetGoodnessOfFit: TRUE
  TemplateInterpolationOption: LINEAR
  BinnedLikelihoodOptimization: TRUE
%  FitToys: 100

  
  
Limit: "limit"
  LimitType: ASYMPTOTIC
  POI: "aTau"
  ParamValue: 0.0
%  ConfidenceLevel: 0.68
  



Region: "SR_mu1trk"
  Label: "1M1T SR"
  Type: SIGNAL
  HistoName: "1m1t_SR"
  VariableTitle: "muon p_{T} [GeV]"
  RatioYmax: 1.5
  RatioYmin: 0.5
  Rebinning: 4,5,6,8,15,30

Region: "CR_2mu"
  Label: "2M CR"
  Type: CONTROL
  HistoName: "2m_CR"
  VariableTitle: "muon p_{T} [GeV]"
  Rebinning: 4,5,6,8,15,30

%Rebinning: 4,30

Sample: "Nom_mu1trk"
  Type: GHOST
  Title: "#tau#tau"
  HistoFile: "tautau"
  Regions: SR_mu1trk


Sample: "PseudoData"
  Type: data
  Title: "PseudoData"
  HistoFile: "data"

Sample: "mumu"
  Type: BACKGROUND
  Title: "#mu#mu"
  FillColor: 64
  LineColor: 64
  SeparateGammas: TRUE
  HistoFile: "mumu"


Sample: "photonuclear"
  Type: BACKGROUND
  Title: "photonuclear"
  FillColor: 800
  LineColor: 800
  SeparateGammas: TRUE
  HistoFile: "photonuclear"
  Regions: SR_mu1trk

Sample: "Signal_p010"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_p010/1m1t_SR"
  Morphing: "aTau",0.10
  Regions: SR_mu1trk

Sample: "Signal_p006"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_p006/1m1t_SR"
  Morphing: "aTau",0.06
  Regions: SR_mu1trk

Sample: "Signal_p005"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_p005/1m1t_SR"
  Morphing: "aTau",0.05
  Regions: SR_mu1trk
  
Sample: "Signal_p004"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_p004/1m1t_SR"
  Morphing: "aTau",0.04
  Regions: SR_mu1trk  

Sample: "Signal_p003"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_p003/1m1t_SR"
  Morphing: "aTau",0.03
  Regions: SR_mu1trk

Sample: "Signal_p002"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_p002/1m1t_SR"
  Morphing: "aTau",0.02
  Regions: SR_mu1trk  

Sample: "Signal_p001"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_p001/1m1t_SR"
  Morphing: "aTau",0.01
  Regions: SR_mu1trk

Sample: "Signal_p000"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_p000/1m1t_SR"
  Morphing: "aTau",0.00
  Regions: SR_mu1trk

Sample: "Signal_m001"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_m001/1m1t_SR"
  Morphing: "aTau",-0.01
  Regions: SR_mu1trk

Sample: "Signal_m002"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_m002/1m1t_SR"
  Morphing: "aTau",-0.02
  Regions: SR_mu1trk

Sample: "Signal_m003"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_m003/1m1t_SR"
  Morphing: "aTau",-0.03
  Regions: SR_mu1trk

Sample: "Signal_m004"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_m004/1m1t_SR"
  Morphing: "aTau",-0.04
  Regions: SR_mu1trk

Sample: "Signal_m005"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_m005/1m1t_SR"
  Morphing: "aTau",-0.05
  Regions: SR_mu1trk

Sample: "Signal_m006"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_m006/1m1t_SR"
  Morphing: "aTau",-0.06
  Regions: SR_mu1trk

Sample: "Signal_m010"
  Type: SIGNAL
  Title: "#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "tautau"
  HistoName: "nominal/atau_m010/1m1t_SR"
  Morphing: "aTau",-0.10
  Regions: SR_mu1trk




NormFactor: "aTau"
  Title: "aTau"
  Nominal: 0.02
  Min: -0.10
  Max: 0.10
  Samples: none
  
  
  
  
% --------------- %
% - SYSTEMATICS - %
% --------------- %


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "tauDecay"
  Title: "tau decay modeling"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileDown: "tautau"
  HistoNameDown: "TAUOLA/1m1t_SR"
  Smoothing: 400
  Symmetrisation: ONESIDED
  Category: Theory
  SubCategory: "tau-Decay"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "photonFlux"
  Title: "photon flux uncertainty"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileDown: "tautau"
  HistoNameDown: "photonFluxVar/1m1t_SR"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory
  SubCategory: "photon-flux"


Systematic: "photonFlux"
  Title: "photon flux uncertainty"
  Type: HISTO
  Samples: mumu
  HistoNameSufDown: "_photonFluxVar"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory
  SubCategory: "photon-flux"
  


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "ATLAS_lumi"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp: 0.019
  OverallDown: -0.019
  Samples: mumu, Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  Category: Experimental





%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "reweight0n0n"
  Title: "0n0n reweighting"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileDown: "tautau"
  HistoNameDown: "WEIGHT_0N0N/1m1t_SR"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory
  SubCategory: "0n0n-reweighting"


Systematic: "reweight0n0n"
  Title: "0n0n reweighting"
  Type: HISTO
  Samples: mumu
  HistoNameSufDown: "_WEIGHT_0N0N"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory
  SubCategory: "0n0n-reweighting"


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "HLTMU4_SYS"
  Title: "muon HLT trigger (sys)"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "HLTMU4_SYS__1up/1m1t_SR"
  HistoNameDown: "HLTMU4_SYS__1down/1m1t_SR"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"


Systematic: "HLTMU4_SYS"
  Title: "muon HLT trigger (sys)"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_HLTMU4_SYS__1up"
  HistoNameSufDown: "_HLTMU4_SYS__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "HLTMU4_STAT"
  Title: "muon HLT trigger (stat)"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "HLTMU4_STAT__1up/1m1t_SR"
  HistoNameDown: "HLTMU4_STAT__1down/1m1t_SR"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"


Systematic: "HLTMU4_STAT"
  Title: "muon HLT trigger (stat)"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_HLTMU4_STAT__1up"
  HistoNameSufDown: "_HLTMU4_STAT__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "L1MU4_SYS"
  Title: "muon L1 trigger (sys)"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "L1MU4_SYS__1up/1m1t_SR"
  HistoNameDown: "L1MU4_SYS__1down/1m1t_SR"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

Systematic: "L1MU4_SYS"
  Title: "muon L1 trigger (sys)"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_L1MU4_SYS__1up"
  HistoNameSufDown: "_L1MU4_SYS__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "L1MU4_STAT"
  Title: "muon L1 trigger (stat)"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "L1MU4_STAT__1up/1m1t_SR"
  HistoNameDown: "L1MU4_STAT__1down/1m1t_SR"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

Systematic: "L1MU4_STAT"
  Title: "muon L1 trigger (stat)"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_L1MU4_STAT__1up"
  HistoNameSufDown: "_L1MU4_STAT__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "PH_EFF"
  Title: "photon efficiency"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoNameUp: "PH_EFF__1up/1m1t_SR"
  HistoFileUp: "tautau"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "egamma"

Systematic: "PH_EFF"
  Title: "photon efficiency"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_PH_EFF__1up"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "egamma"
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "TC_EFF"
  Title: "topocluster efficiency"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoNameUp: "TC_EFF__1up/1m1t_SR"
  HistoFileUp: "tautau"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "topocluster"

Systematic: "TC_EFF"
  Title: "topocluster efficiency"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_TC_EFF__1up"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "topocluster"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "TC_CALIB"
  Title: "topocluster energy calibration"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoNameUp: "TC_CALIB__1up/1m1t_SR"
  HistoFileUp: "tautau"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "topocluster"

Systematic: "TC_CALIB"
  Title: "topocluster energy calibration"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_TC_CALIB__1up"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "topocluster"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "EL_EFF_SYS"
  Title: "electron efficiency (sys)"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "EL_EFF_SYS__1up/1m1t_SR"
  HistoNameDown: "EL_EFF_SYS__1down/1m1t_SR"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "egamma"

Systematic: "EL_EFF_SYS"
  Title: "electron efficiency (sys)"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_EL_EFF_SYS__1up"
  HistoNameSufDown: "_EL_EFF_SYS__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "egamma"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "EL_EFF_STAT"
  Title: "electron efficiency (stat)"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "EL_EFF_STAT__1up/1m1t_SR"
  HistoNameDown: "EL_EFF_STAT__1down/1m1t_SR"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "egamma"

Systematic: "EL_EFF_STAT"
  Title: "electron efficiency (stat)"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_EL_EFF_STAT__1up"
  HistoNameSufDown: "_EL_EFF_STAT__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "egamma"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_EFF_SYS"
  Title: "muon efficiency (sys)"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "MUON_EFF_SYS__1up/1m1t_SR"
  HistoNameDown: "MUON_EFF_SYS__1down/1m1t_SR"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

Systematic: "muon_EFF_SYS"
  Title: "muon efficiency (sys)"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_MUON_EFF_SYS__1up"
  HistoNameSufDown: "_MUON_EFF_SYS__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_EFF_STAT"
  Title: "muon efficiency (stat)"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "MUON_EFF_STAT__1up/1m1t_SR"
  HistoNameDown: "MUON_EFF_STAT__1down/1m1t_SR"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

Systematic: "muon_EFF_STAT"
  Title: "muon efficiency (stat)"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_MUON_EFF_STAT__1up"
  HistoNameSufDown: "_MUON_EFF_STAT__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "TRK_EFF_QGSP_BIC"
  Title: "tracking eff. (QGSP_BIC G4 model)"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoNameUp: "TRK_EFF_QGSP_BIC/1m1t_SR"
  HistoFileUp: "tautau"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "tracking"

Systematic: "TRK_EFF_QGSP_BIC"
  Title: "tracking eff. (QGSP_BIC G4 model)"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_TRK_EFF_QGSP_BIC"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "tracking"
  
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "TRK_EFF_IBLmat"
  Title: "tracking eff. (IBL material)"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoNameUp: "TRK_EFF_IBLmat/1m1t_SR"
  HistoFileUp: "tautau"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "tracking"

Systematic: "TRK_EFF_IBLmat"
  Title: "tracking eff. (IBL material)"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_TRK_EFF_IBLmat"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "tracking"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "TRK_EFF_PP0mat"
  Title: "tracking eff. (PP0 material)"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoNameUp: "TRK_EFF_PP0mat/1m1t_SR"
  HistoFileUp: "tautau"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "tracking"

Systematic: "TRK_EFF_PP0mat"
  Title: "tracking eff. (PP0 material)"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_TRK_EFF_PP0mat"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "tracking"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "TRK_EFF_OverallIDmat"
  Title: "tracking eff. (overall ID material)"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoNameUp: "TRK_EFF_OverallIDmat/1m1t_SR"
  HistoFileUp: "tautau"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "tracking"

Systematic: "TRK_EFF_OverallIDmat"
  Title: "tracking eff. (overall ID material)"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_TRK_EFF_OverallIDmat"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "tracking"
  
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "EG_SCALE"
  Title: "egamma SCALE"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "EG_SCALE__1up/1m1t_SR"
  HistoNameDown: "EG_SCALE__1down/1m1t_SR"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "egamma"

Systematic: "EG_SCALE"
  Title: "egamma SCALE"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_EG_SCALE__1up"
  HistoNameSufDown: "_EG_SCALE__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "egamma"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "EG_RES"
  Title: "egamma RES"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "EG_RES__1up/1m1t_SR"
  HistoNameDown: "EG_RES__1down/1m1t_SR"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "egamma"

Systematic: "EG_RES"
  Title: "egamma RES"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_EG_RES__1up"
  HistoNameSufDown: "_EG_RES__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "egamma"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_SCALE"
  Title: "muon SCALE"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "muon_SCALE__1up/1m1t_SR"
  HistoNameDown: "muon_SCALE__1down/1m1t_SR"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

Systematic: "muon_SCALE"
  Title: "muon SCALE"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_muon_SCALE__1up"
  HistoNameSufDown: "_muon_SCALE__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_SAGITTA_RHO"
  Title: "muon SAGITTA RHO"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "muon_SAGITTA_RHO__1up/1m1t_SR"
  HistoNameDown: "muon_SAGITTA_RHO__1down/1m1t_SR"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

Systematic: "muon_SAGITTA_RHO"
  Title: "muon SAGITTA RHO"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_muon_SAGITTA_RHO__1up"
  HistoNameSufDown: "_muon_SAGITTA_RHO__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_SAGITTA_RESBIAS"
  Title: "muon SAGITTA RESBIAS"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "muon_SAGITTA_RESBIAS__1up/1m1t_SR"
  HistoNameDown: "muon_SAGITTA_RESBIAS__1down/1m1t_SR"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

Systematic: "muon_SAGITTA_RESBIAS"
  Title: "muon SAGITTA RESBIAS"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_muon_SAGITTA_RESBIAS__1up"
  HistoNameSufDown: "_muon_SAGITTA_RESBIAS__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"
  
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_RES_MS"
  Title: "muon res MS"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "muon_MS__1up/1m1t_SR"
  HistoNameDown: "muon_MS__1down/1m1t_SR"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

Systematic: "muon_RES_MS"
  Title: "muon res MS"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_muon_MS__1up"
  HistoNameSufDown: "_muon_MS__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "muon_RES_ID"
  Title: "muon res ID"
  Type: HISTO
  ReferenceSample: Nom_mu1trk
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "tautau"
  HistoFileDown: "tautau"
  HistoNameUp: "muon_ID__1up/1m1t_SR"
  HistoNameDown: "muon_ID__1down/1m1t_SR"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

Systematic: "muon_RES_ID"
  Title: "muon res ID"
  Type: HISTO
  Samples: mumu
  HistoNameSufUp: "_muon_ID__1up"
  HistoNameSufDown: "_muon_ID__1down"
  Smoothing: 40
  Symmetrisation: MAXIMUM
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


Systematic: "photonuc1m1t_CR_stat"
  Title: "photonuc. 1m1t CR stat unc."
  Type: HISTO
  Samples: photonuclear
  HistoNameSufUp: "_Photonuclear1m1t_CR_stat__1up"
  HistoNameSufDown: "_Photonuclear1m1t_CR_stat__1down"
%  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Modeling
  SubCategory: "photonuc-model"

Systematic: "photonuc1m1t_CR_ss"
  Title: "photonuc 1m1t template var."
  Type: HISTO
  Samples: photonuclear
  HistoNameSufUp: "_Photonuclear1m1t_CR_SSvar"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Modeling
  SubCategory: "photonuc-model"
