MultiFit: "aTauMorphingComb_SRCR"
  Label: "Combined fit"
  CmeLabel: "5 TeV"
  LumiLabel: "1.44 nb^{-1}"
%  ImageFormat: pdf
%  AtlasLabel: "Work in progress"  
  Combine: TRUE
  Compare: TRUE
  POIName: "aTau"
  ComparePOI: TRUE
  ComparePulls: TRUE
  CompareLimits: FALSE
  POIRange: -0.1:0.1
  DebugLevel: 1
  POITitle: "best-fit a_{#tau} (expected)"
  POIPrecision: 3
  POILabel: "a_{#tau}"
  POINominal: 0.0
  NumCPU: 1
  PlotCombCorrMatrix: TRUE
%  ShowTotalOnly: TRUE
  BinnedLikelihoodOptimization: TRUE
  IncludeStatOnly: TRUE
  doLHscan: aTau
  LHscanMin: -0.07
  LHscanMax: 0.045
%  PlotSoverB: TRUE





Fit: "mu3trk"
  ConfigFile: g2taufit/atau_trexfitter/configs/aTauMorphing_mu3trk_SRCR.config
  Label: "1M3T"
  
Fit: "mu1trk"
  ConfigFile: g2taufit/atau_trexfitter/configs/aTauMorphing_mu1trk_SRCR.config
  Label: "1M1T"

Fit: "emu"
  ConfigFile: g2taufit/atau_trexfitter/configs/aTauMorphing_emu_SRCR.config
  Label: "1M1E"
