MultiFit: "aTauMorphingCombInverted"
  Label: "aTauMorphingCombInverted"
  CmeLabel: "5.02 TeV"
  LumiLabel: "1.44 nb^{-1}"
  Combine: TRUE
  Compare: TRUE
  POIName: "aTau"
  ComparePOI: TRUE
  ComparePulls: TRUE
  CompareLimits: FALSE
  POIRange: -0.1:0.1
  DebugLevel: 1
  POITitle: "best fit a_{tau}"
  POIPrecision: 5
  POILabel: "a_{tau}"
  POINominal: 0.0
  NumCPU: 1
  PlotCombCorrMatrix: TRUE
  BinnedLikelihoodOptimization: TRUE
%  ShowTotalOnly: TRUE
  IncludeStatOnly: TRUE

Fit: "mu1trk"
  ConfigFile: g2taufit/atau_trexfitter/configs/aTauMorphing_mu1trkInverted.config
  Label: "mu1trk"

Fit: "emu"
  ConfigFile: g2taufit/atau_trexfitter/configs/aTauMorphing_emuInverted.config
  Label: "emu"

Fit: "mu3trk"
  ConfigFile: g2taufit/atau_trexfitter/configs/aTauMorphing_mu3trkInverted.config
  Label: "mu3trk"
