MultiFit: "aTauMorphingComb"
  Label: "aTauMorphingComb"
  CmeLabel: "5.02 TeV"
  LumiLabel: "1.44 nb^{-1}"
  Combine: TRUE
  Compare: TRUE
  POIName: "aTau"
  ComparePOI: TRUE
  ComparePulls: TRUE
  CompareLimits: FALSE
  POIRange: -0.1:0.1
  DebugLevel: 1
  POITitle: "best-fit a_{tau} (expected)"
  POIPrecision: 4
  POILabel: "a_{tau}"
  POINominal: 0.0
  NumCPU: 1
  PlotCombCorrMatrix: TRUE
%  ShowTotalOnly: TRUE
  BinnedLikelihoodOptimization: TRUE
  IncludeStatOnly: TRUE


Fit: "mu1trk"
  ConfigFile: g2taufit/atau_trexfitter/configs/aTauMorphing_mu1trk.config
  Label: "mu1trk"

Fit: "emu"
  ConfigFile: g2taufit/atau_trexfitter/configs/aTauMorphing_emu.config
  Label: "emu"

Fit: "mu3trk"
  ConfigFile: g2taufit/atau_trexfitter/configs/aTauMorphing_mu3trk.config
  Label: "mu3trk"
