%Job: "aTauMorphing_CMS_mu3trk_ptCut3p5_CL68"
%Job: "aTauMorphing_CMS_mu3trk_ptCut3p5_CL95"
Job: "aTauMorphing_CMS3_mu3trk_noPtCut_CL68"
%Job: "aTauMorphing_CMS_mu3trk_noPtCut_CL95"
  Label: "Fit CMS 1M3TSR"
  CmeLabel: "5 TeV"
  ImageFormat: pdf
  LumiLabel: "404 \mu b^{-1}"
  ReadFrom: HIST
  POI: aTau
  HistoPath: "g2taufit/atau_trexfitter/inputs/morph_cms_3"
  DebugLevel: 1
%  SystControlPlots: FALSE
  MCstatThreshold: 0.03
%  StatOnly: TRUE
%  ShowTotalOnly: TRUE
  RatioYmax: 1.3
  RatioYmin: 0.1
  RankingMaxNP: 1
  CorrelationThreshold: 0.2
  SmoothingOption: TTBARRESONANCE 
%  SmoothingOption: COMMONTOOLSMOOTHMONOTONIC
  DoSummaryPlot: TRUE
  DoPieChartPlot: FALSE
%  SystDataPlots: FALSE
  GetChi2: TRUE
  PlotOptions: CHI2
  RankingPOIName: "a_{tau}"
  POIPrecision: 4
  LegendNColumns: 1
  AtlasLabel: "CMS in progress"  
%  SystPruningShape: 0.0001
%  SystPruningNorm: 0.001


Fit: "FitaTauMorphing_CMS"
  FitType: SPLUSB
  FitRegion: CRSR
%  FitBlind: TRUE  % True when Asimov
  NumCPU: 1
  POIAsimov: 0.0
  UseMinos: aTau
  doLHscan: aTau
  SaturatedModel: TRUE
  GetGoodnessOfFit: TRUE
  TemplateInterpolationOption: LINEAR
  BinnedLikelihoodOptimization: TRUE
%  FitToys: 100
%  LHscanSteps: 30

  
  
Limit: "limit"
  LimitType: ASYMPTOTIC
  POI: "aTau"
  ParamValue: 0.0
%  ConfidenceLevel: 0.68
%  SignalInjection: TRUE
%  SignalInjectionValue: 0.001  
  

Region: "SR_cms"
  Label: "CMS 1M3T SR"
  Type: SIGNAL
  HistoName: "cms_SR"
  VariableTitle: "muon p_{T} [GeV]"
  RatioYmax: 2.5
  RatioYmin: 0.0
  Rebinning: 2.5,19.5
%  Rebinning: 2.5,3.5,4.5,6.5,19.5
  YaxisTitle: "Events / bin"
  Ymax: 60 

Sample: "Nom_cms_mu3prong"
  Type: GHOST
  Title: "#gamma#gamma#rightarrow#gamma#gamma#rightarrow#tau#tau"
  HistoFile: "cms_tau_mu3prong"
  Regions: SR_cms


Sample: "PseudoData"
  Type: data
  Title: "PseudoData"
%  Title: "Data"
  HistoFile: cms_data"

Sample: "Background"
  Type: BACKGROUND
  Title: "bckg"
  FillColor: 64
  LineColor: 64
  SeparateGammas: TRUE
  HistoFile: "cms_bckg"



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Sample: "Signal_p010"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p01/cms_SR"
  Morphing: "aTau",0.10
  Regions: SR_cms

Sample: "Signal_p006"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p006/cms_SR"
  Morphing: "aTau",0.06
  Regions: SR_cms

Sample: "Signal_p005"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p005/cms_SR"
  Morphing: "aTau",0.05
  Regions: SR_cms

Sample: "Signal_p004"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p004/cms_SR"
  Morphing: "aTau",0.04
  Regions: SR_cms  

Sample: "Signal_p003"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p003/cms_SR"
  Morphing: "aTau",0.03
  Regions: SR_cms
  
Sample: "Signal_p002"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p002/cms_SR"
  Morphing: "aTau",0.02
  Regions: SR_cms  

Sample: "Signal_p001"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p001/cms_SR"
  Morphing: "aTau",0.01
  Regions: SR_cms

Sample: "Signal_p000"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p000/cms_SR"
  Morphing: "aTau",0.0
  Regions: SR_cms  

Sample: "Signal_m001"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m001/cms_SR"
  Morphing: "aTau",-0.01
  Regions: SR_cms    

Sample: "Signal_m002"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m002/cms_SR"
  Morphing: "aTau",-0.02
  Regions: SR_cms    

Sample: "Signal_m003"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m003/cms_SR"
  Morphing: "aTau",-0.03
  Regions: SR_cms    

Sample: "Signal_m004"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m004/cms_SR"
  Morphing: "aTau",-0.04
  Regions: SR_cms      

Sample: "Signal_m005"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m005/cms_SR"
  Morphing: "aTau",-0.05
  Regions: SR_cms    

Sample: "Signal_m006"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m006/cms_SR"
  Morphing: "aTau",-0.06
  Regions: SR_cms    

Sample: "Signal_m01"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m01/cms_SR"
  Morphing: "aTau",-0.1
  Regions: SR_cms    


NormFactor: "aTau"
  Title: "aTau"
  Nominal: 0
  Min: -0.10
  Max: 0.10
  Samples: none
  
