Job: "aTauMorphing_CMS_SR"
  %Label: "Combined fit"
  Label: "Fit 1M3TSR"  
  CmeLabel: "5.02 TeV"
  ImageFormat: pdf
  LumiLabel: "404 mb^{-1}"
  ReadFrom: HIST
  POI: aTau
%  HistoPath: "g2taufit/atau_trexfitter/inputs/morph_merged_v8"
  HistoPath: "g2taufit/atau_trexfitter/inputs/morph_cms"  
  DebugLevel: 1
  HistoChecks: NOCRASH
  SystControlPlots: FALSE
  MCstatThreshold: 0.03
%  MCstatConstraint: Poisson  
%  StatOnly: TRUE
  RatioYmax: 1.3
  RatioYmin: 0.1
  RankingMaxNP: 1
  CorrelationThreshold: 0.2
  SmoothingOption: TTBARRESONANCE 
%  SmoothingOption: COMMONTOOLSMOOTHMONOTONIC
  DoSummaryPlot: TRUE
  DoPieChartPlot: TRUE
  SystDataPlots: TRUE
%  SummaryPlotRegions: TRUE
  GetChi2: TRUE
  PlotOptions: CHI2
%  PlotOptions: NOXERR
%  PlotOptions: PREFITONPOSTFIT,NOXERR,YIELDS%,NORMSIG %,CHI2  
  RankingPOIName: "a_{#tau}"
  POIPrecision: 4
  LegendNColumns: 1
  AtlasLabel: "CMS in progress"
%  UseFolderStructure: FALSE
 

Fit: "FitaTauMorphing_CMS"
  FitType: SPLUSB
  FitRegion: CRSR
%  FitBlind: FALSE #- it should be False right, you are using Data in your fit.
%  NumCPU: 1
  POIAsimov: 0.0
  UseMinos: aTau #- I am not sure here aTau is an option!
  doLHscan: aTau
%  UseHesseBeforeMigrad: TRUE
  SaturatedModel: TRUE
  GetGoodnessOfFit: TRUE
  TemplateInterpolationOption: LINEAR
  BinnedLikelihoodOptimization: TRUE   
  LHscanSteps: 30
%  SetRandomInitialNPval: 0.01
%  SetRandomInitialNPvalSeed: 1234567  

  
Limit: "limit"
  LimitType: ASYMPTOTIC
%  LimitType: TOYS
%  LimitBlind: TRUE
  POI: "aTau"
  ParamValue: 0.0
%  SplusBToys: 100

Region: "SR_cms"
  Label: "CMS SR"
  Type: SIGNAL
  HistoName: "cms_SR"
  RatioYmax: 2.5
  RatioYmin: 0.0
  VariableTitle: "muon p_{T} [GeV]"
%  Rebinning: 2.5,19.5
  Rebinning: 2.5,3.5,4.5,6.5,14.0
%  Rebinning: 2.5,3.5,4.5,5.5,6.5,8.5,19.5  
%  Rebinning: 2.5,3.5,4.5,6.5,8.5,19.5
  YaxisTitle: "Events / bin"
  Ymax: 60 

Sample: "Nom_cms"
  Type: GHOST
  Title: "#gamma#gamma#rightarrow#gamma#gamma#rightarrow#tau#tau"
  HistoFile: "cms_tau_mu3prong_upd"
%  HistoFile: "cms_tau_mu3prong"
  Regions: SR_cms

Sample: "PseudoData"
  Type: data
  Title: "Data"
  HistoFile: "cms_data"

Sample: "mumu"
  Type: BACKGROUND
  Title: "Background"
  FillColor: 64
  LineColor: 64
  SeparateGammas: TRUE
  HistoFile: "cms_bckg"
%  Regions: SR_cms
  
  
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Sample: "Signal_m010_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m01/cms_SR"
  Morphing: "aTau",-0.10
  Regions: SR_cms
  

Sample: "Signal_m006_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m006/cms_SR"
  Morphing: "aTau",-0.06
  Regions: SR_cms
  

Sample: "Signal_m005_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m005/cms_SR"
  Morphing: "aTau",-0.05
  Regions: SR_cms
  
  
Sample: "Signal_m004_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m004/cms_SR"
  Morphing: "aTau",-0.04
  Regions: SR_cms
    

Sample: "Signal_m003_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m003/cms_SR"
  Morphing: "aTau",-0.03
  Regions: SR_cms
  

Sample: "Signal_m002_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m002/cms_SR"
  Morphing: "aTau",-0.02
  Regions: SR_cms 
   

Sample: "Signal_m001_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_m001/cms_SR"
  Morphing: "aTau",-0.01
  Regions: SR_cms
  

Sample: "Signal_p000_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p000/cms_SR"
  Morphing: "aTau",0.00
  Regions: SR_cms
  

Sample: "Signal_p001_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p001/cms_SR"
  Morphing: "aTau",0.01
  Regions: SR_cms
  

Sample: "Signal_p002_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p002/cms_SR"
  Morphing: "aTau",0.02
  Regions: SR_cms
  

Sample: "Signal_p003_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p003/cms_SR"
  Morphing: "aTau",0.03
  Regions: SR_cms
  

Sample: "Signal_p004_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p004/cms_SR"
  Morphing: "aTau",0.04
  Regions: SR_cms
  

Sample: "Signal_p005_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p005/cms_SR"
  Morphing: "aTau",0.05
  Regions: SR_cms
  

Sample: "Signal_p006_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p006/cms_SR"
  Morphing: "aTau",0.06
  Regions: SR_cms
  

Sample: "Signal_p010_cms"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong"
  HistoName: "nominal/atau_p01/cms_SR"
  Morphing: "aTau",0.10
  Regions: SR_cms


NormFactor: "aTau"
  Title: "aTau"
  Nominal: 0.0
  Min: -0.10
  Max: 0.10
%  Samples: cms_SR  %put all Signal samples by comma 
  Samples: none