%Job: "aTauMorphing_CMS_mu3trk_noPtCut_syst"
Job: "aTauMorphing_CMS_mu3trk_ptCut3p5_syst"
  Label: "Fit CMS 1M3TSR"
  CmeLabel: "5 TeV"
  ImageFormat: pdf
  LumiLabel: "404 \mu b^{-1}"
  ReadFrom: HIST
  POI: aTau
  HistoPath: "g2taufit_reserved/atau_trexfitter_reserved/inputs/morph_cms"
  DebugLevel: 1
%  SystControlPlots: FALSE
  MCstatThreshold: 0.03
%  StatOnly: TRUE
%  Systematics: NONE
%  ShowTotalOnly: TRUE
  RatioYmax: 1.3
  RatioYmin: 0.1
  RankingMaxNP: 20
  CorrelationThreshold: 0.2
%  SmoothingOption: TTBARRESONANCE 
  SmoothingOption: COMMONTOOLSMOOTHMONOTONIC
  DoSummaryPlot: TRUE
  DoPieChartPlot: FALSE
%  SystDataPlots: FALSE
  GetChi2: TRUE
  PlotOptions: CHI2
  RankingPOIName: "a_{tau}"
  POIPrecision: 4
  LegendNColumns: 1
  AtlasLabel: "CMS in progress"  
  UseFolderStructure: FALSE
%  SystPruningShape: 0.0001
%  SystPruningNorm: 0.001



Fit: "FitaTauMorphing_CMS"
  FitType: SPLUSB
  FitRegion: CRSR
%  FitBlind: TRUE  % True when Asimov
  NumCPU: 1
  POIAsimov: 0.0
  UseMinos: aTau
  doLHscan: aTau
  SaturatedModel: TRUE
  GetGoodnessOfFit: TRUE
  TemplateInterpolationOption: LINEAR
  BinnedLikelihoodOptimization: TRUE
%  FitToys: 100
  LHscanSteps: 30

  
  
Limit: "limit"
  LimitType: ASYMPTOTIC
  POI: "aTau"
  ParamValue: 0.0
  ConfidenceLevel: 0.68
%  SignalInjection: TRUE
%  SignalInjectionValue: 0.001
  

Region: "SR_cms"
  Label: "CMS 1M3T SR"
  Type: SIGNAL
  HistoName: "cms_SR"
  VariableTitle: "muon p_{T} [GeV]"
  RatioYmax: 2.5
  RatioYmin: 0.0
%  Rebinning: 2.5,3.5,4.5,6.5,8.5,19.5
  Rebinning: 2.5,19.5
%  Rebinning: 2.5,3.5,5.5,19.5
  YaxisTitle: "Events / bin"
  Ymax: 60 

Sample: "Nom_cms_mu3prong"
  Type: GHOST
  Title: "#gamma#gamma#rightarrow#gamma#gamma#rightarrow#tau#tau"
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  Regions: SR_cms


Sample: "PseudoData"
  Type: data
  Title: "PseudoData"
%  Title: "Data"
  HistoFile: cms_data"

Sample: "Background"
  Type: BACKGROUND
  Title: "bckg"
  FillColor: 64
  LineColor: 64
  SeparateGammas: TRUE
  HistoFile: "cms_bckg_syst"
%  HistoFile: "cms_bckg"
  Regions: SR_cms


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Sample: "Signal_p010"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_p01/cms_SR"
  Morphing: "aTau",0.10
  Regions: SR_cms

Sample: "Signal_p006"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_p006/cms_SR"
  Morphing: "aTau",0.06
  Regions: SR_cms

Sample: "Signal_p005"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_p005/cms_SR"
  Morphing: "aTau",0.05
  Regions: SR_cms

Sample: "Signal_p004"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_p004/cms_SR"
  Morphing: "aTau",0.04
  Regions: SR_cms  

Sample: "Signal_p003"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_p003/cms_SR"
  Morphing: "aTau",0.03
  Regions: SR_cms
  
Sample: "Signal_p002"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_p002/cms_SR"
  Morphing: "aTau",0.02
  Regions: SR_cms  

Sample: "Signal_p001"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_p001/cms_SR"
  Morphing: "aTau",0.01
  Regions: SR_cms

Sample: "Signal_p000"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_p000/cms_SR"
  Morphing: "aTau",0.0
  Regions: SR_cms  

Sample: "Signal_m001"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_m001/cms_SR"
  Morphing: "aTau",-0.01
  Regions: SR_cms    

Sample: "Signal_m002"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_m002/cms_SR"
  Morphing: "aTau",-0.02
  Regions: SR_cms    

Sample: "Signal_m003"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_m003/cms_SR"
  Morphing: "aTau",-0.03
  Regions: SR_cms    

Sample: "Signal_m004"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_m004/cms_SR"
  Morphing: "aTau",-0.04
  Regions: SR_cms      

Sample: "Signal_m005"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_m005/cms_SR"
  Morphing: "aTau",-0.05
  Regions: SR_cms    

Sample: "Signal_m006"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_m006/cms_SR"
  Morphing: "aTau",-0.06
  Regions: SR_cms    

Sample: "Signal_m010"
  Type: SIGNAL
  Title: "#gamma#gamma#rightarrow#tau#tau"
  FillColor: 0
  LineColor: 1
  HistoFile: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoName: "nominal/atau_m01/cms_SR"
  Morphing: "aTau",-0.1
  Regions: SR_cms    


NormFactor: "aTau"
  Title: "aTau"
  Nominal: 0
  Min: -0.10
  Max: 0.10
  Samples: none
  
  
% --------------- %
% - SYSTEMATICS - %
% --------------- %  
  
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Systematic: "MUON_EFF"
  Title: "muon efficiency"
  Type: HISTO
  ReferenceSample: Nom_cms_mu3prong
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoNameUp: "cms_SR_MUON_EFF/cms_SR_MUON_EFF"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "muons"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "LUMI"
  Title: "Integrated luminosity"
  Type: HISTO
  ReferenceSample: Nom_cms_mu3prong
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoNameUp: "cms_SR_LUMI_SYS/cms_SR_LUMI_SYS"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "luminosity"

Systematic: "LUMI"
  Title: "Integrated luminosity"
  Type: HISTO
  Samples: Background
  HistoFileUp: "cms_bckg_syst"
  HistoNameUp: "cms_SR_LUMI_SYS/cms_SR_LUMI_SYS"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "luminosity" 

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "PION_EFF"
  Title: "Pion efficiency"
  Type: HISTO
  ReferenceSample: Nom_cms_mu3prong
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoNameUp: "cms_SR_PION_EFF/cms_SR_PION_EFF"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "pions"  

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "Sim_SAM_Size_BinByBin"
  Title: "Simulation sample size (bin-by-bin)"
  Type: HISTO
  ReferenceSample: Nom_cms_mu3prong
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoNameUp: "cms_SR_SIM_BIN_BIN_SYS/cms_SR_SIM_BIN_BIN_SYS"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "bin-by-bin"  
 

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "Sim_SAM_Size_Eff"
  Title: "Simulation sample size (efficiency)"
  Type: HISTO
  ReferenceSample: Nom_cms_mu3prong
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoNameUp: "cms_SR_SIM_EFF_SYS/cms_SR_SIM_EFF_SYS"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "efficiency"  

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "HF_Scale"
  Title: "HF scale effect on background shape"
  Type: HISTO
  Samples: Background
  HistoFileUp: "cms_bckg_syst"
  HistoNameUp: "cms_SR_HF_SCALE_SYS/cms_SR_HF_SCALE_SYS"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "HF_Scale"   

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "tau_branch_ratio"
  Title: "tau lepton branching fraction"
  Type: HISTO
  ReferenceSample: Nom_cms_mu3prong
  ReferencePruning: Signal_p000
  Samples: Signal_p010, Signal_p006, Signal_p005, Signal_p004, Signal_p003, Signal_p002, Signal_p001, Signal_p000, Signal_m001, Signal_m002, Signal_m003, Signal_m004, Signal_m005,Signal_m006, Signal_m010
  HistoFileUp: "cms_tau_mu3prong_CMS_binsCMS_syst_ptCut3p5"
  HistoNameUp: "cms_SR_TAU_BR_RATIO_SYS/cms_SR_TAU_BR_RATIO_SYS"
%  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "tau_branch_ratio"    

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Systematic: "Effect_Nch"
  Title: "Effect of nch on background shape"
  Type: HISTO
  Samples: Background
  HistoFileUp: "cms_bckg_syst"
  HistoNameUp: "cms_SR_Nch_SYS/cms_SR_Nch_SYS"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Experimental
  SubCategory: "n_ch"           

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%  